strong, b {
  font-weight: bolder;
}
em {
  font-style: italic;
}

img.center {
	display: block;
	margin: auto auto;
}

redtext {
  color: red; 
}
<<<<<<< HEAD

=======
>>>>>>> 269da889a9cfe3f862375064b726fc52d396ebde
