<!doctype HTML>
<html>
<head>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.2.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.4.2.min.js"></script>
  <style>
    div.Morris {
      width: 600px;
      height: 400px;
    }
  </style>
</head>
<body>
  <div id='{{{ params.dom }}}' class='Morris'></div>
    
  {{{ script }}}
  
</body>
</html>